$character-width: 250px;
$char-row-height: 30px;
$avatar-size: 90px;
$character-bg: #D6D6D6;
$character-border-color: #941751;
$shadow: 10px 10px 24px -9px rgba(0,0,0,0.43);
$stat-padding: 6px 8px;

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

// This is to fix an iOS 11 issue where the cursor is displaced in modal inputs
body.modal-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#add-character-btn {
  border-radius: 100%;
  position: fixed;
  bottom: 3%;
  right: 3%;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  font-size: 25px;
  z-index: 1000;
}

.character {
  display: inline-block;
  margin: 30px 30px;
  position: relative;
  width: $character-width;
  background: $character-border-color;
  min-height: 150px;
  border-radius: 10px;
  border: 6px solid $character-border-color;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;

  .edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 12px;
    background: #006880;
    z-index: 100;
  }

  .avatar {
    position: absolute;
    top: -48px;
    left: -40px;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    border: 5px solid $character-border-color;
    background: $character-border-color;
  }

  .char-row {
    font-size: 18px;
    width: 100%;
    vertical-align: middle;
    line-height: $char-row-height;
    height: $char-row-height;
    border-bottom: 2px solid $character-border-color;
  }

  .char-name {
    background: $character-border-color;
    color: #fff;
    height: auto;
    padding-left: 60px;
    line-height: 20px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .char-race {
    background: #f4e7ff;
    text-align: center;
    color: black;
  }

  .char-name-second {
    display: block;
    padding-left: 10px;
  }

  .char-dynamic-bar {
    text-align: center;
    text-shadow: stroke(2, black);
    text-transform: uppercase;
    border: 0;
    overflow: hidden;
    position: relative;

    .char-bar-stat {
      position: relative;
      z-index: 10;
    }

    .char-bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 9;
    }
  }

  .char-hp {
    background: rgb(255, 226, 226);

    .char-bar {
      background: #f6290c;
    }
  }

  .char-mana {
    background: #e0efff;

    .char-bar {
      background: #3293f8;
    }
  }

  .char-stats {
    background: #ebcf98;
    color: #000000;
    font-weight: bold;
    margin: 0;

    .char-stat {
      display: flex;
      flex-direction: row;
      border-top: 2px solid $character-border-color;

      dt {
        flex: 1 auto;
        border-right: 2px solid $character-border-color;
        padding: $stat-padding;
        font-weight: bold;
      }

      dd {
        margin: 0;
        width: 40px;
        padding: $stat-padding;
      }
    }
  }
}

#characterForm {
  input[type=number] {
    width: 80px;
  }

  .col-auto {
    margin-top: -1px;
    padding: 0 5px;
  }

  .form-control, .input-group-text {
    border-radius: 0;
  }

  .char-input-text {
    width: 153px;
  }

  .input-group-text {
    width: 140px;
  }

  .input-group {
    margin: 0 !important;
  }

  label {
    margin: 0;
    display: block;
  }
}

.char-stat-fields {
  input.form-control {
    flex: 0;
  }

  .input-group-prepend {
    flex: 1;

    .input-group-text {
      flex: 1;
    }
  }
}

#character-detail-container {
  .character {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .avatar {
      top: auto;
      bottom: -220px;
      left: 0;
      z-index: 10;
      width: 200px;
      height: auto;
    }

    .char-name {
      text-align: center;
      padding: 15px;
      line-height: normal;
      font-size: 30px;
    }

    .char-name-second {
      display: inline;
      padding: 0;
    }

    .char-row, .char-stat {
      font-size: 20px;
      line-height: normal;

      height: auto;
    }

    .char-race, .char-bar-stat {
      padding: 15px 0;
    }

    dd {
      width: 80px;
      text-align: left;
      padding-left: 20px;
    }
  }

  .edit-btn {
    display: none;
  }
}

#profile-picture-canvas {
  display: none;
}

#profile-picture-container {
  margin: 0 auto;
  height: 475px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  overflow: hidden;

  #profile-picture {

  }
}

#nav-picture-camera {
  position: relative;

  .btn {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 10;

    &:nth-child(2) {
      right: 80px;
    }
  }
  #video-container {
    position: relative;
    border: 2px solid grey;
    width: 100%;
    height: 100%;

    #video-element {
      width: 100%;
      height: 100%;
    }
  }
}

#picture-btn-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  font-size: 30px;
}

.form-container {
  text-align: center;
}

#form-loading-icon {
  animation: spin 1s infinite;
  color: black;
  font-size: 50px;
  display: inline-block;
}

#pictureModal {

  .modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    margin: 0;

    .modal-content {
      width: 100%;
      height: 100%;
      overflow: auto;
      display: block;
    }
  }
}