<% include ../header %>
  <script src="/javascripts/libs/ace/ace.js"></script>
  <script src="/javascripts/libs/ace/mode-json.js"></script>
  <script src="/javascripts/libs/ace/theme-monokai.js"></script>

  <div id="editor-controls-container">
      <div class="float-btn-group">
        <button class="btn btn-warning btn-float btn-trigger pink"><i class="ra ra-cog"></i></button>
        <div class="btn-list">
          <button id="save-template-btn" class="btn btn-float btn-success">Save</button>
          <button id="reset-template-btn" class="btn btn-float">Reset</button>
        </div>
      </div>
  </div>

  <div id="character-template-editor"></div>

  <script>
    function objectToJSON(object) {
      return JSON.stringify(object, null, 2);
    }

    function jsonToObject(json) {
      return JSON.parse(json);
    }

    let template = <%- template %>;
    const editor = ace.edit('character-template-editor', {
      mode: 'ace/mode/json',
      theme: 'ace/theme/monokai'
    });

    editor.setValue(objectToJSON(template));

    let controlsContainer;
    let controlBtnGroup;
    $(() => {
      controlsContainer = $('#editor-controls-container');
      controlBtnGroup = controlsContainer.find('.float-btn-group');
      $('.btn-trigger').click(() => {
        controlBtnGroup.toggleClass('open');
      });

      $('#reset-template-btn').click(() => {
        editor.setValue(objectToJSON(template));
        controlBtnGroup.removeClass('open');
      });

      $('#save-template-btn').click(() => {
        const json = editor.getValue();
        axios.patch(`/room/${roomKey}/characters/template`, { template: json })
          .then(() => {
            toastr['success']('Template saved');
            controlBtnGroup.removeClass('open');
          })
          .catch(err => {
            toastr['danger'](`There was a problem saving!<br/><pre>${err}</pre>`);
            controlBtnGroup.removeClass('open');
            console.error(err);
          });
      });
    })
  </script>
<% include ../footer %>