<%- include('header', { showNav: false }) %>
  <h1 id="homepage-title">Dungeon Master Tool</h1>
  <form id="new-room-form" action="/room" method="post">
      <input name="roomName" type="text" spellcheck="false" class="form-control" placeholder="Room Name" /><br/>
      <button type="submit" class="btn btn-warning btn-lg">Join Room</button>
  </form>

<% include footer %>