<div class="col-auto">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <label for="new-<%= field %>">
                <div class="input-group-text"><%- field %></div>
            </label>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pictureModal">
          Launch demo modal
        </button>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.0/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.0/cropper.min.js"></script>
<script src="/javascripts/CharacterFormPicture.js"></script>
